<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/no_results.css">
    <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Search</title>
</head>
<body>
    <img src="/images/no_results_mobile.png" alt="no results" id="mobile_img">
    <img src="/images/no_results_smaller.png" alt="no results" id="smaller_img">
    <img src="/images/no_results_medium.png" alt="no results" id="larger_img">
    <img src="/images/no_results_desktop.png" alt="no results" id="desktop_img">
    <div id="text">Seems like there are no matches for your query</div>
    <div id="button">
        <a href="/home">Home</a>
    </div>
</body>
</html>