<link rel="stylesheet" href="/css/side_mobile.css">

    <nav class="mobile-main-menu">
        <ul class="mobile-ul">
            <li class="mobile-li">
                <a href="/home">
                    <i class="fas fa-home fa-1x fa-2x"></i>
                    <span class="nav-text">
                            Home
                        </span>
                </a>

            </li>
            <li class="mobile-li">
                <a href="/admin">
                    <i class="fas fa-building fa-1x fa-2x"></i>
                    <span class="nav-text">
                            Your Properties
                        </span>
                </a>

            </li>
            <li class="mobile-li">
                <a href="/addProperty">
                    <i class="fas fa-link fa-1x fa-2x"></i>
                    <span class="nav-text">
                            Add Property
                        </span>
                </a>

            </li>
            <li class="mobile-li">
                <a href="/reviews">
                    <i class="fas fa-users fa-1x fa-2x"></i>
                    <span class="nav-text">
                            Reviews
                        </span>
                </a>

            </li>
            <li class="mobile-li">
                <a href="/change_password">
                    <i class="fas fa-user fa-1x fa-2x"></i>
                    <span class="nav-text">
                            Account
                        </span>
                </a>

            </li>
            <li class="mobile-li">
                <a href="/settings">
                    <i class="fas fa-cog fa-1x fa-2x"></i>
                    <span class="nav-text">
                            Map Settings
                        </span>
                </a>

            </li>
            <li class="mobile-li">
                <a href="/logout">
                    <i class="fas fa-power-off fa-1x fa-2x"></i>
                    <span class="nav-text">
                            Logout
                        </span>
                </a>

            </li>
        </ul>
    </nav>
