
    <nav class="main-menu desktopView">
        <ul>
            <li>
                <a href="/home">
                    <i class="fas fa-house fa-1x"></i>
                    <span class="nav-text">
                        <span class="nav-text">
                            Home
                        </span>
                </a>

            </li>
            <li>
                <a href="/admin">
                    <i class="fas fa-building fa-1x"></i>
                    <span class="nav-text">
                            Your Properties
                        </span>
                </a>

            </li>
            <li>
                <a href="/addProperty">
                    <i class="fas fa-building-circle-check fa-1x"></i>
                    <span class="nav-text">
                            Add property
                        </span>
                </a>

            </li>
            <li>
                <a href="/reviews">
                    <i class="fas fa-user-magnifying-glass fa-1x"></i>
                    <span class="nav-text">
                            Reviews
                        </span>
                </a>

            </li>
            <li>
                <a href="/change_password">
                    <i class="fas fa-user fa-1x"></i>
                    <span class="nav-text">
                            Account
                        </span>
                </a>

            </li>
            <li>
                <a href="/settings">
                    <i class="fas fa-gears fa-1x"></i>
                    <span class="nav-text">
                            Map Settings
                        </span>
                </a>

            </li>
            <li>
                <a href="/logout">
                    <i class="fas fa-right-from-bracket fa-1x"></i>
                    <span class="nav-text">
                            Logout
                        </span>
                </a>

            </li>
           
            </ul>
    </nav>
